/* css reset */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

*{
    margin : 0;
    padding :0;

}

html{
    scroll-behavior : smooth;
}


/* css variables */
:root{
    --navbar-height : 59px;
}

/* Navigation bar */
#navbar{
    display : flex;
    align-items : center;
    position : absolute;
    position : sticky;  
    top : 0px;
}
#navbar::before{
    content: "";
    background-color : black;
    position : absolute;
    top: 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    z-index : -1;
    opacity: 0.4;
    }

/* navigation bar :logo and image */
#logo{
    margin : 10px 20px;

}

#logo img{
    height : 55px;
    margin : -8px 16px;
}

/* navigation bar: list styling */

 #navbar ul{
    font-family: 'Anton', sans-serif;
    display : flex;

}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color : white;
    display : block;
    padding : 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color : rgb(211, 233, 15);
    background-color: rgb(202, 73, 14);
}
/* Home section  */

#home{
    display : flex;
    flex-direction: column;
    height : 518px;
    padding : 3px 200px ;
    justify-content: center;
    align-items : center;
}

#home::before{
    content : "";
    background :url('images/food.jpg') no-repeat center center/cover;
    position : absolute;
    height : 71%;
    width : 100%;
    top: 0px;
    left : 0px;
    z-index : -1;
    opacity: 0.89;
}

#home h1{
    font-family: 'Lobster', cursive;
    color : rgb(224, 96, 10);
    text-align : center;
}
#home p{
    color : white;
    text-align : center;
    font-size : 1.5rem;
}

/* services section  */
#services{
margin : 34px;
display : flex;
}

#services .box{
    border : 2px solid red;
    padding : 25px;
    margin :15px;
    margin-top :-41px;
    margin-bottom: 5px;
    border-radius: 28px;
    background :rgb(230 221 217);
}

#services .box img{
    margin :auto;
    display : block;
    height : 80px;
}

#services .box p{
    font-family: 'Bitter', serif;
}
/* client section  */

#client-section{
    position: relative;
}

#client-section::before{
 content: "";
 position : absolute;
 background: url('images/pizza1.jpg');
 width : 100%;
 height : 100%;
 z-index: -1;
 opacity: 0.3;
}
#clients{
    display : flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding : 5px;

}
#clients img{
    height : 90px;
}
  /* Contact section */

#contact{
    position : relative;
}
#contact::before{
    content: "" ;
    position: absolute;
    width : 100%;
    height : 100%;
    z-index : -1;
    opacity: 0.4;
    background: url('images/con.jpg') no-repeat center center/cover;
    background-color: aqua;

}

#contact-box{
    display: flex;
    justify-content: center;
    align-items : center;
    padding-bottom : 34px;


}

#contact-box input,
#contact-box textarea{
    width : 100%;
    padding : 0.5rem;
    border-radius: 10px;
    font-size : 1.2rem;
    color :rgb(99, 148, 7);
}

#contact-box form{
width : 40%;
}

#contact-box label{
    font-size: 1.3rem;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Bitter', serif;

}

footer{
    background: black;
    color : white;
    padding : 9px 20px;
}
/* utillity classes  */
.h-primary {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-size : 3.8rem;
    padding : 12px;
}
.h-secondary {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    font-size : 2.1rem;
    padding : 12px;
}
.btn{
    margin : 17px;
    padding : 6px 20px;
    border : 2px solid rgb(12, 11, 11);
    background : rgb(224, 96, 10);
    border-radius: 15px;
    font-size : 1.2rem;
    cursor : pointer;
}
.btn:hover{
    color : white;
    background-color: rgb(99, 148, 7);;
}
.center{
    text-align: center;
}


body {
    margin: 0;
    padding: 0;
    /* background: rgb(241 59 59); */
    overflow: hidden;
}

/* canvas{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    z-index : -1;
} */
.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    background: rgb(216 30 21);
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 20px 100px rgba(0, 0, 0, 0.5);
}

.circle:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 8px dotted white;
    box-sizing: border-box;
    border-radius: 50%;
    transform: scale(1.1);
    animation: rotate 30s linear infinite;
}

.light {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 120px;
    background: rgb(117 6 6);
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border: 5px solid white;
}

.light:before {
    content: '';
    position: absolute;
    top: -80px;
    left: calc(50% - 40px);
    width: 40px;
    height: 80px;
    background: yellow;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transform-origin: bottom right;
    filter: blur(1px);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(30deg);
        box-shadow: 0 0 30px #ff0 ;
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(15deg);
        box-shadow: 0 0 100px #ff0 ;

    }

    75% {
        transform: rotate(20deg);
    }

    100% {
        transform: rotate(30deg);
        box-shadow: 0 0 30px #ff0 ;

    }
}

@keyframes rotate {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    100% {
        transform: scale(1.1) rotate(360deg);
    }
}

h1 {
    font-family: 'Lobster Two', cursive;
    margin: 40px 0 0;
    text-align: center;
    color: white;
    font-size: 45px;
    line-height: 60px;
    text-shadow: 0 15px 5px rgba(0, 0, 0, 0.2);
}

h1 span {
    font-size: 100px;

}